
:root{
     --font-family:'Poppins';
}
.main_footer{
     width: 100%;
     height: 60vh;
     display: grid;
     grid-template-columns: 30%  25% 15% 30%;
}
.logo_div{
         height: 100%;
         display: flex;
         align-items: center;
         margin-left: 20px;
        
}
.logo_div p{
     font-family: var(--font-family);
     font-size: 17px;
}
.logo_div div > i{
        font-size: 24px;
        
}
.Touch_div{
      height: 100%;
      display: flex;
      align-items: center;
      margin:30px 0px 0px 12px ;
      
}
.Touch_div h4{
     color: rgb(247, 163, 7);
     font-family: var(--font-family);
     font-size: 21px;
     padding-bottom: 20px;
}
.logo_class i{
     font-size: 19px;
     color:rgb(247, 163, 7) ;
     padding-right: 6px;
}
.address_class {
     padding-left: 10px;
}
.address_class p{
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5rem;
}
.address_class span{
     font-size: 14px;
     font-family: var(--font-family);
}
.Quick_links{
       display: flex;
       align-items: center;
       height: 100%;
      margin-top: 30px;

}
.Quick_links h4{
      color: rgb(247, 163, 7);
      font-family: var(--font-family);

}
.Quick_links ul{
     height: 80%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}
.Quick_links ul li{
     list-style: none ;
}
.Quick_links ul li a{
     text-decoration: none;
     font-family: var(--font-family);
     font-size: 17px;
     color: black;
     font-weight: bold;
}
.News_letter{
     display: flex;
     align-items: center ;
     margin-left: 20px;
}
.News_letter h4{
     color:rgb(247, 163, 7) ;
     font-family: var(--font-family);
}

.News_letter div > div{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.News_letter div >div input{
    width: 120%;
    height: 41px;
    border: none;
    background-color: rgb(211, 220, 220);
    opacity: .8;
    margin-top: 20px;
    border-radius: 4px;
    padding-left: 10px;
    color: black;
    font-family: var(--font-family);

}
.News_letter div >div input:focus{
        outline: none;
}
.News_letter div >div button{
     width: 120%;
     margin-top: 20px;
     height: 41px;
     border: none;
     background-color:rgb(247, 163, 7) ;
     color: white;
     font-family: var(--font-family);
     border-radius: 22px;
}
.copy_right_div{
      width: 100%;
      border-top: 1px solid gray;
      padding: 10px 30px 0px 30px;
      text-align: center;
}
.copy_right_div span{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
      font-weight: bold;
}




















@media all and (max-width:660px){

 
      .main_footer{
           display: grid;
           height: 100vh;
           grid-template-columns: auto auto auto;
           
           grid-template-rows: 48% auto;
      }
      .logo_div{
           width: 90%;
           height: 60%;
           text-align: center;
           margin-top: 10px;

      }
     .logo_div div > div {
           width: 80%;
           margin: 0 auto;
     }
     .Touch_div{
          width: 100%;
          align-items: flex-start;
     }
     .Touch_div h4{
          text-align: center;
          font-size: 24px;
     }
     .logo_class{
          padding-left: 10px;
     }
     .Quick_links{
          width: 100%;
          height: 50vh;
          margin-top: 40px;
          display: none;
     }
     .News_letter{
          grid-row: 2 / span 1;
          grid-column: 1 /span 3;
     }
     .News_letter div{
          width: 90%;
     }
     .News_letter h4{
          text-align: center;
     }
     .News_letter div > div{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
}
.News_letter div >div input{
    width: 90%;
    height: 71px;
    border: none;
    background-color: rgb(211, 220, 220);
    opacity: .8;
    margin-top: 20px;
    border-radius: 4px;
    padding-left: 10px;
    color: black;
    font-family: var(--font-family);
    margin-left: 40px;

}
.News_letter div >div input:focus{
        outline: none;
}
.News_letter div >div button{
     width: 90%;
     margin-top: 20px;
     height: 61px;
     border: none;
     background-color:rgb(247, 163, 7) ;
     color: white;
     font-family: var(--font-family);
     border-radius: 22px;
    margin-left: 40px;
     
} 

 
}


@media(max-width:786px){
            .main_footer{
                  width: 100%;
                  height: 100vh;
                  display: grid;
                  grid-template-columns: auto auto auto;
                  
                  grid-template-rows: 48% auto;
            }
          
            .logo_div{
               width: 90%;
               height: 60%;
               text-align:center;
               margin-top: 10px;
    
          }
         .logo_div div > div {
               width: 80%;
               margin: 0 auto;
         }
         .Touch_div{
          width: 100%;
          align-items: flex-start;
     }
     .Touch_div h4{
          text-align: start;
          font-size: 24px;
     }
            .Quick_links{ 
                 display: none;
            }
            .News_letter{
                  grid-row: 2 /span 1;
                  grid-column: 1/ span 3;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items:center;
                  margin-top: 10px;
                 
            }

            .News_letter div{
               width: 90%;
          }
          .News_letter h4{
               text-align: center;
          }
          .News_letter div > div{
             height: 100%;
             display: flex;
             flex-direction: column;
             align-items:center;
             justify-content: center;
     }
     .News_letter div >div input{
         width: 90%;
         height: 75px;
         border: none;
         background-color: rgb(211, 220, 220);
         opacity: .8;
         margin-top: 20px;
         border-radius: 4px;
         padding-left: 10px;
         color: black;
         font-family: var(--font-family);
         margin-left: 40px;
     
     }
     .News_letter div >div input:focus{
             outline: none;
     }
     .News_letter div >div button{
          width: 90%;
          margin-top: 20px;
          height: 71px;
          border: none;
          background-color:rgb(247, 163, 7) ;
          color: white;
          font-family: var(--font-family);
          border-radius: 22px;
         margin-left: 40px;
          
     } 
}