

:root{
     --font-family:'Poppins';
}

.main_con{
     width: 50%;
     height: 60vh;
     margin: 30px auto;
     border-radius: 12px;
     display: flex;
     box-shadow: 5px 0px 7px gray;
}

.welcome_text{
          width: 50%;
          height: 100%;
          border-right: 1px solid gainsboro;
          background-color: rgb(15, 90, 148);
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
}

.inner_text{ 
         width: 80%;
         margin: 20px auto;
}
.inner_text p{
      color: white;
      font-family: "Poppins";
      font-size: 15px;
}
.inner_text h1{
     color: white;
     font-family: var(--font-family);
       font-size: 40px;
       line-height: 0.7rem;
       padding-bottom: 40px;
}
.inner_text span{
        color: white;
        font-family: var(--font-family);
      font-size: 14px;
}
.inner_text span > span{
           color: orange;
           cursor: pointer;
           text-decoration: underline;
}
.form_section{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          
}
.form_section h4{
       margin-top: 15px;
       font-family: var(--font-family);
       font-size: 28px;
}
.form_section form{
    width: 100%;
    height: 80%;
           display: flex;
           flex-direction: column;
           justify-content: center;
        
}
.form_section form input {
         width: 90%;
         height: 42px;
         opacity: .8;
         border: none;
         background-color: rgb(211, 220, 220);
         margin: 10px auto;
         padding-left: 10px;
         color: black;
         font-size: 15px;
         font-family: "Rubik";
         border-radius: 5px;
}
.form_section button{
        width: 90%;
        margin: 10px auto;
        height: 50px;
        border-radius: 23px;
        border: none;
          background-color: rgb(15, 90, 148);
          color: white;
          font-size: 22px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-weight: bold;
}

.form_section form input:focus{
     outline: none;
}

#Reg{
     color: orange;
     cursor: pointer;
     text-decoration: underline;
}
.show_main_form{
     width: 90%;
     height: 80vh;
     margin: 20px auto;
}










@media(max-width:660px){
          .main_con{
                display: flex;
                flex-direction: column;
                width: 70vh;
                height: 120%;
          }
          .welcome_text{
               width: 100%;
               height: 40vh;
               border-top-left-radius: 0px;
               border-bottom-left-radius: 0px;
          }
          .inner_text{
               height: 100%;
               display: flex;
               flex-direction: column;
               justify-content: center;
          }
          .form_section{
                width: 100%;
                height: 60vh;
          }
}


@media(max-width:798px){

     .main_con {
           width: 90%;
           height: 80vh;
           margin: 20px auto;
     }


}